/**
 * Catui - Input
 */

.cui-input,
.cui-textarea,
.cui-select {
  height: 38px;
  line-height: 1.3;
  border-width: 1px;
  border-style: solid;
  border-color: #eee;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.85);
  border-radius: 2px;
}

.cui-input,
.cui-textarea {
  display: block;
  width: 100%;
  padding-left: 10px;
}

.cui-input:hover,
.cui-textarea:hover {
  border-color: #d2d2d2 !important;
}

.cui-input:focus,
.cui-textarea:focus {
  outline: none;
  border-color: var(--cui-primary) !important;
  box-shadow: 0 0 0 3px rgba(var(--cui-primary-rgb), 0.08);
}

.cui-input.cui-disabled,
.cui-input[disabled] {
  background-color: #fafafa;
  cursor: not-allowed;
}

.cui-textarea {
  position: relative;
  min-height: 100px;
  height: auto;
  line-height: 20px;
  padding: 6px 10px;
  resize: vertical;
}

/* 아이콘 인풋 */
.cui-input-wrap {
  position: relative;
  display: block;
}

.cui-input-prefix,
.cui-input-suffix {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  z-index: 1;
}

.cui-input-prefix {
  left: 10px;
}

.cui-input-suffix {
  right: 10px;
}

.cui-input-with-icon {
  width: 100%;
  box-sizing: border-box;
}

.cui-input-wrap .cui-input-prefix ~ .cui-input,
.cui-input-with-icon.cui-input-prefix-icon {
  padding-left: 38px;
}

.cui-input-wrap .cui-input-suffix ~ .cui-input,
.cui-input-with-icon.cui-input-suffix-icon {
  padding-right: 38px;
}

.cui-input-wrap .cui-input-prefix ~ .cui-input-with-icon {
  padding-left: 38px;
}
